services:

  app:
    build: 
      context: .
      target: builder
    env_file:
      - .env
    working_dir: /app
    command: ./main
    depends_on:
      - db
      - redis
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - go-build-cache:/root/.cache/go-build
      - go-mod-cache:/go/pkg/mod

  redis:
    image: redis:7.4-alpine
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis:/data

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres-db:/var/lib/postgresql/data  

volumes:
  redis:
    driver: local
  postgres-db: {}
  go-build-cache:
    driver: local
  go-mod-cache:
    driver: local