<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Регистрация</title>
	</head>
	<body>
		{{if .HasError}}
		<p>{{ .ErrorMessage}}</p>
		{{end}}
		<form method="POST" action="/register">
			<label>Имя пользователя</label><br>
			<input type="text" name="username" /><br><br>
			<label>Пароль</label><br>
			<input type="password" name="password" /><br><br>
			<label>Повторите пароль</label><br>
			<input type="password" name="confirm" /><br><br>
			<input type="submit" value="Зарегистрироваться" />
		</form>
	</body>
</html>
